doctype html
html(lang='en')
 head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")  
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")  
  title=title
  script(src='/public1/homepage.js' type='text/javascript')
 body
 

  h1 Annotation !
  table(style='width:100%', border='0', table-layout:fixed)
   tr(halign="center" valgin="top")
    td( width="3%" ) 
    td(id="pvMotifAreaId" width="25%" ) Motif
    td( width="2%" )
    td(id="pvTextAreaId" width="50%" ) NaturalText
    td( width="2%" )
    td(id="pvCategoryAreaId" width="15%" ) Category
    td( width="3%" ) 
  
  
