.nobr {
	white-space: nowrap
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.idRow:after {
	content: "", display:table;
	clear: both;
}

#idMotif {
	width: 14%;
	height: 100%;
	float: left;
	overflow-y: scroll;
	padding-left: 15px;
	border-right: 1px solid grey;
}

#idText {
	width: 69%;
	height: 100%;
	float: left;
	overflow-y: scroll;
	padding-left: 15px;
	border-right: thin dotted grey;
}

#idCategory {
	width: 14%;
	height: 100%;
	float: left;
	overflow-y: scroll;
	padding-left: 15px;
	border-right: thin dotted grey;
}